<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>


<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

</head>
<body>

    <img id="profilePagePicture" src = "/pictures/catLandingPagePicture.jpg">

    <h1>Hello, <%= user.fname %>!</h1>

<div id="buttons">
    
    <a href="/newAppointment"><button>Schedule a new Appointment</button></a> 
    <a href="/profile"><button>User Profile</button></a>
    <a href="/logout"><button>Log out</button></a>


</div>

    <div id = "appointmentsDisplay">

    <h3>Your appointments</h3>

    <% if (appointments.length > 0) { %>
    <ul>
        <% appointments.forEach(appointment => { %>
        <p> Date: <%= appointment.appt_date %> </p>
            <li> Pet Name: <%= appointment.petname %> </li>
            <li> Pet Type: <%= appointment.pettype %>  </li>
            <li> Service: <%= appointment.service %> </li>
            <li> Friendly: <%= appointment.friendly ? 'Yes' : 'No' %> </li>
            
            <hr>

        <% }); %>
    </ul>


    <% } else { %>
    <p>No appointments scheduled.</p>
    <% } %>

    </div>



</body>
</html>