<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>


<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

</head>
<body>
    
<p>Heres your profile!</p>

<h3>Your appointments</h3>

<h1>Hello, <%= user.fname %>!</h1>
    <p>We received your appointment request at <%= userData.timestamp %>.</p>

    <ul>
    <li> Last Name: <%=user.lname %> </li>
    <li> Email: <%= user.email %> </li>
    <li> Phone Number: <%= user.phone %> </li>
    <li> Current Address: <%= user.street_address%> </li>
    <li> Current city: <%=user.city %> </li>
    <li> Current state: <%= user.state %></li>
    <li> Current zipcode: <%= user.zip_code %> </li>
    </ul>

<h2>Make an Appointment!</h2>
<a href="/newAppointment"><button>Schedule a new Appointment</button></a> 


</body>
</html>